<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="vue">
        First name: <input type="text" v-model="firstName">
        <br>
        Last name : <input type="text" v-model="lastName">
        <br>
        Full name : {{fullName}}

        <p><pre>data: {{$data | json 2}}</pre></p>
    </div>

    <script>
        var vue = new Vue({
            el: '#vue',
            data: {
                firstName: 'Key',
                lastName: 'Foxth'
            },
            computed: {
                fullName: function(){
                    return this.firstName + ' ' + this.lastName;
                }
            }
        })
    </script>
</body>
</html>